.sign-user{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.login{
  text-decoration: none;
  margin: 0px 10px;
}

.sign-up{
  text-decoration: none;
  margin: 0px 10px;
}

.user-nickname{
  text-decoration: none;
  margin: 0px 10px;
}

.logout{
  text-decoration: none;
  margin: 0px 10px;
}